@charset "UTF-8";
@import url("../lib/fonts/stylesheet.css");

/*General*/
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -moz-text-rendering: optimizelegibility;
  text-rendering: optimizelegibility;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.labelProps {
    font-size: 10px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p
{
  margin: 0;
  padding: 0;
  font-weight: normal;
}
body {
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 12px;
}
a,
a:hover {
  text-decoration: none;
  color: white;
  
}
a:focus,
a:active,
a:visited {
  text-decoration: none;
  
}
a {
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}
div a:hover{
  text-decoration: none;
  color: white;
}
/*.co-form { background-color: #fff;box-shadow: 2px 2px 10px grey; width: 50%;}*/
.co-form {
  width: 40%;
  float: left;
  display: block;
  background-color: #fff;
  box-shadow: 2px 2px 10px grey;
  position: absolute;
  top: 8%;
  right: 32%;
}
.heading {
  padding: 40px;
  padding-left: 60px;
  padding-bottom: 5px;
}
.heading h3 {
  font-size: 36px;
}
.heading p {
  font-size: 12px;
}
.form1 {
  width: 100%;
  padding: 40px;
  padding-left: 60px;
  padding-right: 60px;
  float: left;
  background-color: #fff;
  font-size: 12px;
  padding-top: 20px;
}
.n-m {
  position: relative;
  margin-bottom: 11px;
  width: calc((100% - 15px) / 2);
}
.n-m span {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
}
.inline {
  display: inline;
  float: left;
}
.input100 {
  width: 100%;
  height: 35px;
  border: .5px solid #bbbbbb;
  border-radius: 6px;
  background-color: #fff;
  margin-top: 6px;
  font-size: 14px;
  padding: 8px 12px;
}
.input100:focus {
  background-color: #e2dfdf;
}
.input100:active {
  background-color: #e2dfdf;
}
.msg {
  display: inline;
  float: left;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
}
.textarea100 {
  width: 100%;
  border: none;
  background-color: #eaeef1;
  margin-top: 10px;
  padding: 15px;
}
.co-btn {
  display: block;
  float: left;
  width: 100%;
}
.btn-f {
  background: #3f51b5ff;
  color: #fff;
  padding: 10px 20px;
  margin-top: 2px;
  border: none;
  font-size: 12px;
  text-decoration: none;

  float: right;
}
div a {
  
}
.lastline {
  display: block;
  float: left;
}
.lastline a {
  cursor: pointer;
}
.login {
  position: absolute;
  bottom: 9%;
  color: #3f51b5ff;
  font-size: 13px;
  font-weight: 600;
}

.help-aboutus a {
  color: #000000a6;
  padding-right: 10px;
  font-size: 12px;
}
.help-aboutus {
  width: 35%;
  background-color: #fff;
  position: absolute;
  bottom: -8%;
  right: -8%;
}
