@media (max-width: 1024px){
	.canvas { width: 100%; }
	.team-mm { width: 22.6%; }
	.work-mm { width: 31.2%; }
	.column { width: 22%; }
	.co-form { width: 45%; }
}
@media (min-width: 768px){
		#triger { display: none; }
		.el-menu { display: block; }
}
@media (max-width: 768px){
	.logo { float: left; width: auto; margin-top: 9px; }
	#triger { display: block; float: right; }
	#triger a { font-size: 20px; color: #fff; border: 1px solid #fff; padding: 8px 15px; }
	.el-menu ul.list-inline li { width: 100%; float: left; margin-bottom: 15px; }
	.el-menu { display: none; float: left; width: 100%; }
	.navigation-bar { float: left; width: 100%; height: 40px; }
	.el-menu ul.list-inline li.active a { border: none; }
}

@media (max-width: 768px){
	.dt_main .dt_para { width: 100%; }
	.dt_main .dt_ci { width: 100%; }
	.team-mm { width: 100%; margin-bottom: 15px; }
	.work-mm { width: 100%; }
	.column { width: 100%; }
	.col { width: 100%; }
	.co-info { width: 100%; }
	.co-form { width: 100%; margin-bottom: 0px; margin-top: 20px; }
	}